@media screen and (max-width: 660px) {
  #pipControl {
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  #pipControl {
    gap: 0px;
  }
}
@media screen and (max-width: 540px) {
  svg {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 500px) {
  svg {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 470px) {
  #time {
    font-size: small;
  }
}
@media screen and (max-width: 440px) {
  svg {
    width: 24px;
    height: 24px;
  }
  #tuneVolume {
    flex: 0 1 100%;
    width: 100%;
    min-width: 30px;
  }
}
@media screen and (max-width: 400px) {
  svg {
    width: 20px;
    height: 20px;
  }
  #tuneVolume {
    height: 5px;
  }
}
@media screen and (max-width: 300px) {
  svg {
    width: 20px;
    height: 20px;
  }
}
